
SOLID/.vs/SOLID/v15/.suo
SOLID/.vs/SOLID/v16/.suo
SOLID/.vs/SOLID/v16/Server/sqlite3/db.lock
SOLID/.vs/SOLID/v16/Server/sqlite3/storage.ide
SOLID/.vs/SOLID/v16/Server/sqlite3/storage.ide-shm
SOLID/.vs/SOLID/v16/Server/sqlite3/storage.ide-wal
SOLID/bin/Debug/SOLID.exe
SOLID/bin/Debug/SOLID.exe.config
SOLID/bin/Debug/SOLID.pdb
SOLID/obj/Debug/SOLID.exe
SOLID/obj/Debug/SOLID.exe.tmp
SOLID/obj/Debug/SOLID.pdb
SOLID/obj/Debug/SOLID.pdb.tmp
